!static/upload/edocument
static/upload/edocument/*
!static/upload/edocument/.gitkeep

!static/upload/edocument_user
static/upload/edocument_user/*
!static/upload/edocument_user/.gitkeep

!static/upload/files
static/upload/files/*
!static/upload/files/.gitkeep

!static/upload/informations
static/upload/informations/*
!static/upload/informations/.gitkeep

!static/upload/thumb
static/upload/thumb/*
!static/upload/thumb/.gitkeep